/* Demo 2 */
@font-face {
  font-family: 'entypo-selected';
  src: url("../font/entypo-selected.eot");
  src: url("../font/entypo-selected.eot?#iefix") format('embedded-opentype'), url("../font/entypo-selected.woff") format('woff'), url("../font/entypo-selected.ttf") format('truetype'), url("../font/entypo-selected.svg#entypo-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'entypo-selected';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  line-height: 1em;
}

body{

  transition: all 0.5s 0s ease-out;
 }

.icon-plus-circle:before { content: '\50'; } /* 'P' */
.icon-forward:before { content: '\47'; } /* 'G' */
.icon-search:before { content: '\5a'; } /* 'Z' */
.icon-link:before { content: '\4c'; } /* 'L' */

.demo-2 .grid {

      top: 50%;
      left:50%;
    height: 3000px;
    width: 3000px;
    /* margin: 30px auto; */
    position: absolute;
    /* transition: 2s; */
}

.demo-2 .uc-container {
    width: 100px;
    height: 100px;
}

.demo-2 .uc-single,
.demo-2 .uc-final,
.demo-2 .uc-initial-content,
.demo-2 .uc-back,
.demo-2 .uc-front {
    /* background: #29a6aa url(../images/noise.png) repeat top left; */
}

.demo-2 .icon-eye {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 4px;
    font-size: 60px;
    width: 100%;
    height: 100%;
    line-height: 145px;
    text-align: center;
    cursor: pointer;
}

/* .no-touch .demo-2 .uc-initial-content:hover .icon-eye {
    color: rgba(255,255,255,0.8);
    background: rgba(41,166,170,0.7);
} */

/* .demo-2 .icon-cancel {
    position: absolute;
    background: rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
    opacity: 1;
    width: 100px;
    height: 100px;
    top: 0px;
    left: -100px;
    cursor: pointer;
    background: transparent url(../images/icon-close.png) no-repeat center center;
    background-size: cover;
} */

/* .demo-2 .icon-cancel:hover {
    background: rgba(0,0,0,1);
} */

.demo-2 .uc-current .uc-container{

}

/* Dan Stuff */

.demo-2 .uc-container--2 {
    width: 200px;
    height: 200px;
    margin: 0;
}



.demo-2 .uc-container--2 .icon-eye{
    width: 200px;
    height: 200px;
    margin: 0;
}

.demo-2 .uc-container--2 .icon-cancel {
    width: 200px;
    height: 200px;
    top: 0;
    right: 0;
}

.demo-2 .uc-container--3 {
    width: 200px;
    height: 200px;
    margin: 0;
}

/* ALL-------------------------------------------------------- */
#info{
  display: block;
  height: 100px;
  width: 100px;
  background: transparent url(../images/icon-close.png) no-repeat center center;
  background-size: cover;
}

#info.black{
  display: block;
  height: 100px;
  width: 100px;
  background: transparent url(../images/icon-close-black.png) no-repeat center center;
  background-size: cover;
}

#programm{

  display: block;
  height: 100px;
  width: 100px;
  background: transparent url(../images/icon-close.png) no-repeat center center;
  background-size: cover;
}


#artwork.big.black{
  display: block;
  height: 200px;
  width: 200px;
  background: transparent url(../images/icon-close-black-big.png) no-repeat center center;
  background-size: cover;
}

#artwork{
  display: block;
  height: 200px;
  width: 200px;
  background: transparent url(../images/icon-close.png) no-repeat center center;
  background-size: cover;
}

/* flaps-------------------------------------------------------- */

#info .flap {
  position: absolute;
	transform-origin: left;
	left: 100px;
	transform: rotateY(180deg);
  transition: all 0.5s 0s ease-out;
}
#programm .flap {
  position: absolute;
	transform-origin: left;
	left: 100px;
	transform: rotateY(180deg);
  transition: all 0.5s 0s ease-out;
}
#artwork .flap {
  position: absolute;
	transform-origin: left;
	left: 200px;
	transform: rotateY(180deg);
  transition: all 0.5s 0s ease-out;
}
/* icon-cancel ---------------------------------------------------------*/
#info .icon-cancel {
    position: absolute;
    opacity: 1;
    width: 100px;
    height: 100px;
    top: 0px;
    left: -100px;
    cursor: pointer;
    background: transparent url(../images/icon-close.png) no-repeat center center;
    background-size: cover;
}

#info .icon-cancel.black {
    position: absolute;
    opacity: 1;
    width: 100px;
    height: 100px;
    top: 0px;
    left: -100px;
    cursor: pointer;
    background: transparent url(../images/icon-close-black.png) no-repeat center center;
    background-size: cover;
}


#programm .icon-cancel {
    position: absolute;
    opacity: 1;
    width: 100px;
    height: 100px;
    top: 0px;
    left: -100px;
    cursor: pointer;
    background: transparent url(../images/icon-close.png) no-repeat center center;
    background-size: cover;
}

#artwork .icon-cancel {
    position: absolute;
    opacity: 1;
    width: 200px;
    height: 200px;
    top: 0px;
    left: -200px;
    cursor: pointer;
    background: transparent url(../images/icon-close.png) no-repeat center center;
    background-size: cover;
}

#artwork .icon-cancel.black.big {
    position: absolute;
    opacity: 1;
    width: 200px;
    height: 200px;
    top: 0px;
    left: -200px;
    cursor: pointer;
    background: transparent url(../images/icon-close-black-big.png) no-repeat center center;
    background-size: cover;
}
/* -------------------------------------------------------- */


#info .flap.show {
  transform: rotateY(360deg);
/*   transform: scale(1) !important; */
}
#programm .flap.show {
  transform: rotateY(360deg);
  /* transform: scale(1) !important; */
}

#artwork .flap.show {
  transform: rotateY(360deg);
/*   transform: scale(1) !important; */
}


/* CONTENT IMG-------------------------------------------------------- */
.demo-2 .info{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-info.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.demo-2 .sort-location{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-location.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.demo-2 .sort-time{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-time.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.demo-2 .sort-type{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-type.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.demo-2 .sort-search{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-search.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.demo-2 .programm{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-programm-2.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}


/* SORT LOCATIONS------------------------------------------- */

.demo-2 .sort-1{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-1.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-2{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-2.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-3{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-3.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-4{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-4.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-5{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-5.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-6{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-6.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-7{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-7.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.demo-2 .sort-8{

  width: 100%;
  height: 100%;
  background: transparent url(../images/icon-sort-8.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* -------------------------------------------------------- */

.a-a{
  position: absolute;
  top: 0;
  left: 0;
}

.a-b{
  position: absolute;
  top: 100px;
  left: 0;
}
.a-c{
  position: absolute;
  top: 200px;
  left: 0;
}

.a-d{
  position: absolute;
  top: 300px;
  left: 0;
}

.b-a{
  position: absolute;
  top: 0;
  right: 0;
}

.b-b{
  position: absolute;
  top: 100px;
  right: 0;
}

.b-c{
  position: absolute;
  top: 200px;
  right: 0;
}

.b-d{
  position: absolute;
  top: 300px;
  right: 0;
}


.aa-aa{
  position: absolute;
  top: 0;
  left: 0;
}

.aa-bb{
  position: absolute;
  top: 200px;
  left: 0;
}
.aa-cc{
  position: absolute;
  top: 400px;
  left: 0;
}

.aa-dd{
  position: absolute;
  top: 600px;
  left: 0;
}

.aa-ee{
  position: absolute;
  top: 800px;
  left: 0;
}

.bb-aa{
  position: absolute;
  top: 0;
  right: 0;
}

.bb-bb{
  position: absolute;
  top: 200px;
  right: 0;
}

.bb-cc{
  position: absolute;
  top: 400px;
  right: 0;
}

.bb-dd{
  position: absolute;
  top: 600px;
  right: 0;
}

.bb-ee{
  position: absolute;
  top: 800px;
  right: 0;
}



.location-toni{
  width: 200px;
  height: 200px;
  background: transparent url(../images/icon-toniareal.png) no-repeat center center;
  background-size: cover;
}

/* LOGO-------------------------------------------------------- */
.logo-d{
  position: absolute;
  top: -100px;
  left: -200px;
  width: 100px;
  height: 100px;

}
.logo-d .flap{
  transform-origin: left;
	transform: rotateY(90deg);

  width: 100px;
  height: 100px;
  background: transparent url(../images/da.png) no-repeat center center;
  background-size: cover;
  transition: all 0.5s 0s ease-out;
}

#logo-d .flap.show {

  transform: rotateY(0deg);
/*   transform: scale(1) !important; */
}

.logo-z{
  position: absolute;
  top: -100px;
  left: -100px;
  width: 100px;
  height: 100px;

}
.logo-z .flap{
  transform-origin: left;
	transform: rotateY(90deg);

  width: 100px;
  height: 100px;
  background: transparent url(../images/z.png) no-repeat center center;
  background-size: cover;
  transition: all 0.5s 0s ease-out;
}

#logo-z .flap.show {

  transform: rotateY(0deg);
  /* transform: scale(1) !important; */
}

.logo-rest{
  position: absolute;
  top: -100px;
  left: 0px;
  width: 200px;
  height: 100px;

}
.logo-rest .flap{
  transform-origin: left;
	transform: rotateY(90deg);

  width: 200px;
  height: 100px;
  background: transparent url(../images/rest.png) no-repeat center center;
  background-size: cover;
  transition: all 0.5s 0s ease-out;
}

#logo-rest .flap.show {

  transform: rotateY(0deg);
/*   transform: scale(1) !important; */
}

.menu-1{

  position: absolute;
  top: 00px;
  left: -100px;
  width: 100px;
  height: 100px;

}
.menu-1 .flap{
  transform-origin: top;
	transform: rotateX(90deg);

  width: 100px;
  height: 100px;
  transition: all 0.5s 0s ease-out;
}

#menu-1 .flap.show {

  transform: rotateX(0deg);
/*   transform: scale(1) !important; */
}


.menu-2{
  position: absolute;
  top: 100px;
  left: -100px;
  width: 100px;
  height: 100px;

}
.menu-2 .flap{
  transform-origin: top;
	transform: rotateX(90deg);

  width: 100px;
  height: 100px;
  transition: all 0.5s 0s ease-out;
}

#menu-2 .flap.show {

  transform: rotateX(0deg);
/*   transform: scale(1) !important; */
}
.overlay{
  width: 3000px;
height: 3000px;
  position: absolute;
  left: -50vw;
  top: -50vh;
  background-color: black;

  opacity: 0;
  transition: all 0.5s 0s ease-out;

}

.overlay.show{
  opacity: 0.5;
}

.shake{
  position: absolute;
  top: 300px;
  left: -100px;
  width: 300px;
  height: 100px;
}
.shake .flap{
  transform-origin: left;
	transform: rotateY(90deg);

  width: 300px;
  height: 100px;
  background: transparent url(../images/SHAKE.png) no-repeat center center;
  background-size: cover;
  transition: all 0.5s 0s ease-out;
}

#shake .flap.show {

  transform: rotateY(0deg);
/*   transform: scale(1) !important; */
}

/* fake icons------------------------ */

.fakeinfo{
  position: absolute;
  top: 0px;
  left: 00px;
  width: 100px;
  height: 100px;
  background: transparent url(../images/icon-info.png) no-repeat center center;
  background-size: cover;
}

.fakemaps{
  position: absolute;
  top: 00px;
  left: 00px;
  width: 100px;
  height: 100px;
  background: transparent url(../images/icon-maps.png) no-repeat center center;
  background-size: cover;
}

.fakefavorites{
  position: absolute;
  top: 00px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: transparent url(../images/icon-favorites.png) no-repeat center center;
  background-size: cover;
}

.fakeawards{
  position: absolute;
  top: 100px;
  left: 00px;
  width: 100px;
  height: 100px;
  background: transparent url(../images/icon-awards.png) no-repeat center center;
  background-size: cover;
}

.fakeprogramm{
  position: absolute;
  top: 00px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: transparent url(../images/icon-programm-2.png) no-repeat center center;
  background-size: cover;
}

.faketickets{
  position: absolute;
  top: 100px;
  left: 100px;
  width: 100px;
  height: 100px;
  background: transparent url(../images/icon-tickets.png) no-repeat center center;
  background-size: cover;
}

.fakeartwork-info-1{
  width: 400px;
  height: 800px;
  background: transparent url(../images/artwork-info-1.png) no-repeat center center;
  background-size: cover;
}

.fakeartwork-info-2{
  width: 400px;
  height: 800px;
  background: transparent url(../images/artwork-info-2.png) no-repeat center center;
  background-size: cover;
}

/* artworks */

.demo-2 .artwork-1{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-1.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.demo-2 .artwork-2{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-2.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}
.demo-2 .artwork-3{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-3.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.demo-2 .artwork-4{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-4.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.demo-2 .artwork-5{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-5.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.demo-2 .artwork-6{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-6.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.demo-2 .artwork-7{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-7.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}


.demo-2 .artwork-8{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-8.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}

.demo-2 .artwork-9{
    width: 100%;
    height: 100%;
  background: transparent url(../images/icon-artwork-9.png) no-repeat center center;
  background-size: cover;
  -moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
}


.favbtn{
  display: none;
  position: absolute;
  bottom: 0px;
  left: 100px;
  height: 100px;
  width: 100px;
  background: transparent url(../images/favbtn.png) no-repeat center center;
  background-size: cover;
}

.addfavbtn {
  position: absolute;
  bottom: 0px;
  left: 100px;
  height: 100px;
  width: 100px;
}

.votebtn{
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
  background: transparent url(../images/votebtn.png) no-repeat center center;
  background-size: cover;
}

.addvotebtn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
}


.crazycolor-fav {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 100px;
  height: 100px;
  width: 100px;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow .5s ease infinite;
-z-animation: rainbow .5s ease infinite;
-o-animation: rainbow .5s ease infinite;
  animation: rainbow .5s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.crazycolor-vote {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100px;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow .5s ease infinite;
-z-animation: rainbow .5s ease infinite;
-o-animation: rainbow .5s ease infinite;
  animation: rainbow .5s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
